body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    width: 75%;
    background-color: azure;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    width: 75%;
    background-color: beige;
}

.accounts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0 0 20px;
    padding: 40px;
    background-color: beige;
}

.accounts-info {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.account-currency {
    margin-right: 50px;
}

.account-h2 {
    margin-right: 25px;
}

.account-form {
    margin-right: 25px;
}

.side-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 20px 0 20px;
    padding: 40px;
    background-color: beige;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    list-style: none;
}
form  {
    font-family: "Roboto", sans-serif;
}

form fieldset {
    margin-top: 5px;
}

.login fieldset label {
    display: block;
    float: left;
}

.login fieldset input {
    display: block;
    float: right;
}

form .odeslat {
    margin-top: 20px;
}

main {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

footer {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-home-form {
    --c:  #4bbd50;

    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
            var(--_g) calc(var(--_p,0%) - 100%) 0%,
            var(--_g) calc(200% - var(--_p,0%)) 0%,
            var(--_g) calc(var(--_p,0%) - 100%) 100%,
            var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    padding: .3em .6em;
    font-weight: bold;
    border: none;

}
.button-home-form:hover {
     --_p: 100%;
     transition: background-position .4s, background-size 0s;
 }
.button-home-form:active {
    box-shadow: 0 0 9px inset #0009;
    background-color: var(--c);
    color: #fff;
}