<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NVB - domovská stránka</title>
    <link rel="stylesheet" th:href="@{style.css}" />
</head>
<script>
    function redirectCreateAccount() {
        window.location.href = '/create-account';
    }
</script>
<body>
    <header>
        <h1>Vítej, <span th:text="${name}"></span> <span th:text="${surname}"></span></h1>
    </header>
<main>
    <div class = "side-info">
        <h2>Informace</h2>
        <p>Vaše klientské číslo: <span th:text="${id}"></span></p>
        <a href="/logout">Odhlásit se</a>
    </div>
    <div class = "accounts">
        <h2>Kliknutím na tlačítko vytvoříte účet</h2>
        <button onclick="redirectCreateAccount()">Založit</button>
        <div class = "accounts-info">

        </div>
    </div>

</main>




</body>
</html>