<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NVB - domovská stránka</title>
    <link rel="stylesheet" th:href="@{style.css}" />
</head>
<body>
    <header>
        <h1>Vítej, <span th:text="${name}"></span> <span th:text="${surname}"></span></h1>
    </header>
<main>
    <div class = "side-info">
        <h2>Informace</h2>
        <p>Vaše klientské číslo: <span th:text="${id}"></span></p>
        <a href="/logout">Odhlásit se</a>
    </div>
    <div class = "accounts">
            <h2>Kliknutím na tlačítko vytvoříte účet</h2>
            <a href="/createAcc"><button>Založit</button></a>
            <div th:each="ucet : ${ucty}" class="accounts-info">
                <h2 th:text="${'Číslo účtu: ' + ucet.id}" class="account-h2"></h2>
                <h3 th:text="${ucet.balance + ' ' + ucet.currency}" class="account-currency"></h3>
                <form th:action="@{/deposit}" method="post" class="account-form">
                    <input type="hidden" name="idUcet" th:value="${ucet.id}">
                    <input type="submit" name="vklad" id="vklad" value="Vklad" class="button-home-form">
                </form>
                <form th:action="@{pay}" method="post" class="account-form">
                    <input type="hidden" name="idUcet" th:value="${ucet.id}"/>
                    <input type="submit" name="platba" id="platba" value="Platba" class="button-home-form">
                </form>
                <form th:action="@{/transactions}" method="post" class="account-form">
                    <input type="hidden" name="idUcet" th:value="${ucet.id}"/>
                    <input type="submit" name="vypis" id="vypis" value="Výpis účtu" class="button-home-form">
                </form>
            </div>
    </div>
</main>
</body>
</html>