<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bank</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <h1>Online Banking - Naše/Vaše banka :)</h1>
    </header>
    <nav>
        <ul>
            <li><a href="login.html">Přihlášení</a></li>
        </ul>
    </nav>
    <main>
        <form action="/register" method="post">
            <fieldset>
                <label for="name">Jméno</label>
                <input type="text" name="name" id="name">
            </fieldset>
            <fieldset>
                <label for="surname">Příjmení</label>
                <input type="text" name="surname" id="surname">
            </fieldset>
            <fieldset>
                <label for="email">Příjmení</label>
                <input type="email" name="email" id="email">
            </fieldset>
            <fieldset>
                <label for="password">Heslo</label>
                <input type="password" name="password" id="password">
            </fieldset>
                <input class="odeslat" type="submit" name="submit" id="submit">
        </form>
    </main>
    <footer>
        <p>© 2023 Bank</p>
    </footer>
</body>

</html>