<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NVB - seznam transakcí</title>
    <link rel="stylesheet" th:href="@{style.css}" />
</head>
<body>
<main>
    <h1>Výpis účtu</h1>
    <h2 th:text="${'Číslo účtu: ' + cisloUctu}"></h2>
    <table>
        <tr>
            <th>Typ</th>
            <th>Částka</th>
            <th>Datum</th>
            <th>Příjemce</th>
        </tr>
        <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction.type}"></td>
            <td th:text="${transaction.value}"></td>
            <td th:text="${transaction.transaction_date}"></td>
            <td th:text="${transaction.recipient_account}"></td>
        </tr>
    </table>
    <a href="/zavrit"><button>Zavřít</button></a>
</main>
</body>
</html>