<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NVB - vložit peníze</title>
    <link rel="stylesheet" th:href="@{style.css}" />
</head>
<body>
<h1>Vložit</h1>
<form action="/transaction-deposit" method="post">
  <fieldset>
    <label for="insert">Vložená částka:</label>
    <input type="number" name="insert" id="insert" required>
  </fieldset>
    <fieldset>
        <label for="currency">Měna:</label>
        <select id="currency" name="currency">
            <option value="AUD">AUD</option>
            <option value="BRL">BRL</option>
            <option value="BGN">BGN</option>
            <option value="CNY">CNY</option>
            <option value="DKK">DKK</option>
            <option value="EUR">EUR</option>
            <option value="PHP">PHP</option>
            <option value="HKD">HKD</option>
            <option value="INR">INR</option>
            <option value="IDR">IDR</option>
            <option value="ISK">ISK</option>
            <option value="ILS">ILS</option>
            <option value="JPY">JPY</option>
            <option value="ZAR">ZAR</option>
            <option value="CAD">CAD</option>
            <option value="KRW">KRW</option>
            <option value="HUF">HUF</option>
            <option value="MYR">MYR</option>
            <option value="MXN">MXN</option>
            <option value="XDR">XDR</option>
            <option value="NOK">NOK</option>
            <option value="NZD">NZD</option>
            <option value="PLN">PLN</option>
            <option value="RON">RON</option>
            <option value="SGD">SGD</option>
            <option value="SEK">SEK</option>
            <option value="CHF">CHF</option>
            <option value="THB">THB</option>
            <option value="TRY">TRY</option>
            <option value="USD">USD</option>
            <option value="GBP">GBP</option>
        </select>
    </fieldset>
  <input class="button-home-form" type="submit" name="submit" id="submit">
</form>
</body>
</html>