<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NVB - vložit peníze</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<header>
    <img src="/logo.png" alt="logo" class="logo">
    <h2>online bankovnictví</h2>
</header>
<main>
    <div class="form-box">
    <form action="/transaction-deposit" method="post" class="form">
        <span class="title">Vložit peníze</span>
        <div class="form-container">
            <input type="number" name="insert" id="insert" class="input" placeholder="Částka" required min="1">
        </div>
            <div class="form-containerAcc">
                <label for="currency">Měna:</label>
                <select id="currency" name="currency">
                    <option value="CZK">CZK</option>
                    <option value="AUD">AUD</option>
                    <option value="BRL">BRL</option>
                    <option value="BGN">BGN</option>
                    <option value="CNY">CNY</option>
                    <option value="DKK">DKK</option>
                    <option value="EUR">EUR</option>
                    <option value="PHP">PHP</option>
                    <option value="HKD">HKD</option>
                    <option value="INR">INR</option>
                    <option value="IDR">IDR</option>
                    <option value="ISK">ISK</option>
                    <option value="ILS">ILS</option>
                    <option value="JPY">JPY</option>
                    <option value="ZAR">ZAR</option>
                    <option value="CAD">CAD</option>
                    <option value="KRW">KRW</option>
                    <option value="HUF">HUF</option>
                    <option value="MYR">MYR</option>
                    <option value="MXN">MXN</option>
                    <option value="XDR">XDR</option>
                    <option value="NOK">NOK</option>
                    <option value="NZD">NZD</option>
                    <option value="PLN">PLN</option>
                    <option value="RON">RON</option>
                    <option value="SGD">SGD</option>
                    <option value="SEK">SEK</option>
                    <option value="CHF">CHF</option>
                    <option value="THB">THB</option>
                    <option value="TRY">TRY</option>
                    <option value="USD">USD</option>
                    <option value="GBP">GBP</option>
                </select>
            </div>
        <input class="submit" type="submit" name="submit" id="submit" value="Odeslat">
    </form><a href="/back"><button class="submitBack">Zpět</button></a>
    </div>
</main>

</body>
</html>