<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NVB - login</title>
    <link rel="stylesheet" th:href="@{style.css}" />
</head>
<body>
    <header>
        <h1>Naše / Vaše Banka</h1>
        <h2>online bankovnictví</h2>
    </header>
    <main>
        <div class="login">
            <h3>Doufáze</h3>
            <form action="/verification" method="post">
                <fieldset>
                    <label for="verification">Generované číslo</label>
                    <input type="number" name="verification" id="verification" required>
                </fieldset>
                <input class="odeslat" type="submit" name="submit" id="submit">
            </form>
            <span th:text="${warningLogin}"></span>
        </div>
    </main>
    <footer>
        <p>© 2023 Bank</p>
    </footer>
</body>
</html>