<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NVB - přihlášení</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <header>
        <img src="/logo.png" alt="logo" class="logo">
        <h2>online bankovnictví</h2>
    </header>
    <main>
        <div class="form-box">
            <form class="form" action="/login" method="post">
                <span class="title">Přihlásit se</span>
                <div class="form-container">
                    <input type="number" class="input" name="id" id="id" placeholder="Klientské číslo" required th:value="${userId}">
                    <input type="password" class="input" placeholder="Heslo" name="password" id="password">
                </div>
                <input class="submit" type="submit" name="submit" id="submit" value="Přihlásit">
            </form>
            <div class="form-section">
                <p>Ještě nemáte účet? <a href="/register">Zaregistrovat se</a> </p>
            </div>
            <span th:text="${warningLogin}"></span>
        </div>
    </main>
</body>
</html>